{{ define "main" }}
<section class="section">
    <div class="container is-fluid">
        <h1 class="title is-1">{{.Title}}</h1>
    </div>
</section>

<section class="section">
    <div class="container is-fluid">
        <div class="content">
            {{.Content}}

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Opening</p>
                        <ul>
                            <li>Opening principles</li>
                            <li>e4:
                                <ul>
                                    <li>giuoco piano</li>
                                </ul>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Middlegame & strategy</p>
                        <ul>
                            <li>feeling the position</li>
                            <li>fighting for space</li>
                            <li>weak squares</li>
                            <li>pawn weaknesses:</li>
                            <ul>
                                <li>doubled pawn</li>
                                <li>isolated pawn</li>
                                <li>backward pawn</li>
                                <li>holes</li>
                            </ul>
                        </ul>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Endgame</p>

                        <ul>
                            <li>king vs king plus pawn
                                <ul>
                                    <li>key squares</li>
                                    <li>opposition</li>
                                    <li>safe squares</li>
                                </ul>
                            </li>
                            <li>king vs king plus queen</li>
                        </ul>
                </div>
                </article>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Tactics</p>
                        <ul>
                            <li>fork</li>
                            <li>skewer</li>
                            <li>relative and absolute pin</li>
                            <li>double check</li>
                            <li>discovered attack</li>
                            <li>overloaded piece</li>
                            <li>interferance</li>
                            <li>deflection</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}