<footer class="footer">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
            </div>
        </div>

        <div class="level-right">
            <div class="level-item">
                <a href="https://twitter.com/chessatlas"> <i class="fab fa-twitter has-text-black"></i></a>
            </div>
            <div class="level-item">
                <a href="https://github.com/lucapette/atlas"> <i class="fab fa-github has-text-black"></i></a>
            </div>
            <div class="level-item">
                <a href="https://bulma.io">
                    <img src="/img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24" />
                </a>
            </div>
        </div>
    </nav>
</footer>