<!DOCTYPE html>
<html>
{{ partial "head" . }}

<body>
  <div class="wrap">
    {{ partial "header" . }}
    <section class="section">
      <div class="container is-fluid">
        <h1 class="title is-1">
          Chess Atlas
        </h1>

        <div class="content">
          <p>This website documents my journey as I explore the vast world
            of Chess. You will find updates about my progress in the <a href="/blog">blog</a>.
          </p>

          <p>If you don't know where to start, start <a href="/blog/introducing-chess-atlas">here </a> </p>
        </div>

        <div class="columns">
          <div class="column is-one-third">
            <h3 class="title is-3">Latest posts</h3>
            {{ range first 5 (where $.Site.RegularPages "Section" "blog") }}

            <div class="box">
              <a href="{{.Permalink}}">
                <article class="media">
                  <div class="media-content">
                    <div class="content">

                      <p class="title">{{.Title}}</p>
                    </div>

                    <nav class="level">
                      <div class="level-left">
                        <p class="has-text-grey-light">{{.Date.Format "02 Jan 2006"}}</p>
                      </div>

                      <div class="level-right">
                        <p class="has-text-grey-light">{{.WordCount}} words</p>
                      </div>
                    </nav>
                  </div>

                </article>
              </a>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </section>
  </div> {{ partial "footer" . }}
</body>

</html>